<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.freelearners.ibtha">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MyApplication"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IBTHA"
        android:usesCleartextTraffic="true"
        tools:ignore="Instantiatable"
        tools:targetApi="23">
        <activity
            android:name=".views.ui.SplashActivity"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".onBoarding.IntroActivity" />
        <activity android:name=".views.ui.IdentificationActivity" />
        <activity android:name=".views.ui.MainActivity" />
        <activity android:name=".views.ui.ProductActivity" />
        <activity android:name=".views.ui.NavActivity" />
        <activity android:name=".views.ui.OrderActivity"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>